
name: CI to Docker Hub

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secret.DOCKER_HUB_USERNAME }}
          password: ${{ secret.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        
      - name: Build and push
        id: docker-build
        uses: docker/build-push-action@v3.1.0
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secret.DOCKER_HUB_USERNAME }}/dockerprac:lastest
        
      - name: Image digest
        run: echo ${{ steps.docker-build.outputs.digest }}
